

body{

}
/* ----------------------------------------------------------------------------------------
--------------------------------------------------NAVBAR-----------------------------------
-----------------------------------------------------------------------------------------*/
/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 2px;
    overflow: hidden;
    background-color: #D8D8D8;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #2E2E2E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 23px;
	font-family: Arial;
	font-style: italic;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #77AFE1; color:#000000; }

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}



/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
#mask{
	background-color: rgba(86, 90, 78, 0.83);
	width: 50%;
	max-width: 60%;
	height: auto;
	margin-top: 10%;
	margin-bottom: 10%;
	padding-top: 50px;
	margin-bottom: 20%;
	margin-left: 20%;
	text-align: center;

}file:///C:/xampp/htdocs/Frontend/img/Slide/Bild1.jpg

#search{/*TODO: Add shadow, change color, align center*/
	margin-top: 20px;
	padding-left: 20%;
	padding-right: 20%;
	background-color: lightblue;
}

/*Broken needs to be fixed/change pics*/
#main_image{
	background-image: url(../img/main_background.jpg);
	background-position: center right;
	background-repeat: no-repeat;
	width: 50%;
	height: 50%;

}
 /*HotelFeed Styles*/
/*Slideshow anfang*/
* {box-sizing:border-box; }
body {font-family: Verdana,sans-serif;margin:0}
.mySlides {display:none;

}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  margin-left:20%;
  margin-right:20%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/*Slideshow ende*/

.HotelName h3{
margin-left: 2.5%;
font-family: Arial;
font-size: 150%;


}
/*Bewertungen*/
#panel, #flip {
	margin-left:20%;
	margin-right:20%;
    padding: 5px;
    background-color: #206c9e;
    border: solid 1px #c3c3c3;
}

#panel {
    padding-top: 20px;
    padding-bottom: 50px;
    display: none;
}
#flip{
	color: white;
}
#panel p{
   color: white;
}
/*Google maps*/
#map{
	margin-left:20%;
	margin-right:20%;
	width:60%;
	height:500px;
}

.Rooms{
	margin-left:20%;
	margin-right:20%;
    background-color: #206c9e;
	overflow-y: auto;
	color: white;
	box-shadow: 0px 0px 5px 5px #888
}

.Rooms table{
    border-collapse: collapse;
}

.Rooms td, th{
padding: 20px;
}

.Rooms::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
}
.Rooms::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid #fff;
  background-color: rgba(0, 0, 0, .3);
}

.Top10{
	margin-top: 5%;
	margin-left:10%;
	margin-right:10%;
    background-color: #206c9e;
	box-shadow: 0px 0px 5px 5px #888
}
.Top10 img{
width:90%;
padding-top: 6%;
}
.Top10 table{
    border-collapse: collapse;
	color: white;

}

.Top10 td{
padding-left:1%;
padding-bottom: 2.5%;
padding-right:1%;
padding-top: 1%;
width: 20%;
height: 380px;
color: white;
border-bottom: 7px solid;
border-bottom-color: white;
}

.Top10 th{
border-bottom: 7px solid;
border-bottom-color: white;

}

#Top10map{
	width: 100%;
	height: 115%;
}

@media screen and (max-width: 860px){
	div.slideshow-container{
	margin-left: 0%;
	margin-right: 0%;
	}
	#panel {
	margin-left: 0%;
	margin-right: 0%;
	}
	#flip{
	margin-left: 0%;
	margin-right: 0%;
	}
	#map{
	margin-left: 0%;
	margin-right: 0%;
	width:100%;
	}
	.Rooms{
	margin-left: 0%;
	margin-right: 0%;
	}
	.Top10{
	margin-left: 0%;
	margin-right: 0%;
	}
	
}