

body{

}
#mask{
	background-color: rgba(86, 90, 78, 0.83);
	width: 50%;
	max-width: 60%;
	height: auto;
	margin-top: 10%;
	margin-bottom: 10%;
	padding-top: 50px;
	margin-bottom: 20%;
	margin-left: 20%;
	text-align: center;

}

#search{/*TODO: Add shadow, change color, align center*/
	margin-top: 20px;
	padding-left: 20%;
	padding-right: 20%;
	background-color: lightblue;
}

/*Broken needs to be fixed/change pics*/
#main_image{
	background-image: url(../img/main_background.jpg);
	background-position: center right;
	background-repeat: no-repeat;
	width: 50%;
	height: 50%;

}